.idea
.vscode
node_modules
.coverage
/playwright-report/
/test-results/
/playwright/.cache/
/.local-browsers/
/allure-results/
/.allure/
e2e.json
e2e-worker-*.json
*storybook.log
src/stories/_sample


storybook-static
